div.myHeading {
  width: 100%;
  height: auto;
  padding-bottom: .5cm;
  padding-top: .5cm;
  background-color: lightskyblue;
  text-align: start;
  margin:auto;
}

div.loadMore {
  display: block;
  position:relative;
  text-align: center;
  margin:auto;
}

IMG.headDisplayed {
  display: block;
  margin-left: auto;
  margin-right: auto }

.soulSoundImage {
  display: block;
  width: 4cm;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

div.outlineStyle {
  outline-color: #1b9bff;
  outline-width: medium;
  border-top: medium;
  border-bottom: medium;
  border-color: black;
  border-bottom: #2bcdc0;
}

p.boldText{
  font-weight: bold;
}

.subHeadingDesign{
  text-decoration: underline;
  color: darkslategrey;
}

.fire{
  text-decoration: underline;
  color: orangered;
}


