div.myHeading {
  width: 100%;
  height: auto;
  padding-bottom: .5cm;
  padding-top: .5cm;
  background-color: paleturquoise;
  text-align: start;
  margin:auto;
}

IMG.headDisplayed {
  display: block;
  margin-left: auto;
  margin-right: auto }

.soulSoundImage {
  display: block;
  width: 4cm;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


