div.container {
    width: 100%;
    border: 1px solid gray;
}

header{
    padding: 1em;
    color: black;
    background-color: paleturquoise;
    clear: left;
    text-align: start;
    border: black;
    font-family: "Times New Roman", Times, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a:hover:not(.active) {
    background-color: powderblue;
}

.active {
    background-color: lightskyblue;
}

li a {
    display: block;
    padding: 10px 16px;
    text-align: center;
    background-color: #dddddd;
}

footer {
    text-decoration: blue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

.imageViwer {
    border: black;
    color: black;
    column-count: 4;
}

